@import '../_variables.scss';

.intro {
    width: 60vw;
    padding: 2vh 0;
    vertical-align: top;

    p {
    	margin: 40px 0;
    }
}


@media(max-width: $mobile-breakpoint) {
    .intro {
		margin-left: 2vw;
		font-size: 0.7rem;
		width: 90vw;
	}
}