@import '../_variables.scss';

.stars {
	position: relative;
	display: inline-flex;
	align-items: center;

	.star {
		display: flex;
		width: 18px;
		margin-right: 2px;
		color: $purple;
		fill: $purple;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.star-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: $white;
		opacity: 0.8;
		height: 40px;

		@supports (mix-blend-mode: color) {
			opacity: unset;
			mix-blend-mode: color;
		}
	}
}