@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$purple: #6c6eec;
$purple-dark: #5c5edc;
$dark: #4a4b50;
$quotes: #5c5d62;
$modal: #6a6b70;
$code: #aaaaaa;
$light: #dddddd;
$white: #ffffff;
$black: #000000;

$mobile-breakpoint: 800px;