@import '_variables.scss';

section.whisky {
	margin-top: 12vh;

	h2 {
		margin-left: 440px;
	}

	& > div {
		display: inline-block;
		width: 400px;
		height: 500px;
		vertical-align: top;
		margin-left: 40px;
	}

	a.buy {
		display: block;
		margin: 10px;
		padding: 10px;
		background-color: $purple;
		color: $white;
		border-radius: 4px;
		width: 120px;
		text-align: center;
		font-weight: bold;
	}

	.price {
		font-size: 24px;
	}
}


@media(max-width: $mobile-breakpoint) {
	section.whisky {
		margin-top: 16vh;

		h2 {
			margin-left: 20px;
			margin-top: 80px;
		}

		& > div {
			display: inline-block;
			width: 400px;
			height: auto;
			vertical-align: top;
			margin-left: 40px;
			margin-top: 40px;

			&:nth-of-type(3n + 1) {
				margin-top: 0;
			}

			ul {
				margin-left: 20px;
			}
		}

		.map {
			width: 80vw;
			height: auto;
		}
	}
}