// Variables
$purple: #6c6eec;
$purple-dark: #5c5edc;
$dark: #4a4b50;
$quotes: #5c5d62;
$modal: #6a6b70;
$code: #aaaaaa;
$light: #dddddd;
$white: #ffffff;
$black: #000000;

$soundcloud: #ff5500;
$youtube: #e62117;
$instagram: #ee583f;
$linkedin: #0077B5;
$twitter: #1da1f2;
$github: #fafbfc;


// General
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body,
button {
	font-family: 'Indie Flower';
	overflow-x: hidden;
	font-size: 1rem;
}
html {
	font-size: 18px;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black;
}
h1 {
	font-size: 4rem;
	color: $purple;
}
h2 {
	font-size: 2rem;
	color: $purple;
	margin-bottom: 2vh;
}
ul,
ol {
	margin-left: 2vw;
}
#root > header,
#root > section,
#root > footer {
	width: 100vw;
    box-sizing: border-box;
}
#root > section {
	height: 100vh;
}
#root > footer {
	height: 120vh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a,
button {
	color: $black;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
a:hover,
button:hover {
	color: $code;
	transition: all 0.5s ease-in-out;
}

// Header.js
header {
	color: $black;
	height: 14vh;

	#wave {
	    height: 600px;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1000;
	    pointer-events: none;

	    path.light {
	    	fill: $purple;
  			filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, .2));
	    }
	    path.dark {
	    	fill: $purple-dark;
  			filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .2));
	    }
	}
	#logo,
	#jack {
		position: fixed;
		top: 20px;
		left: 6vw;
		width: 400px;
	    z-index: 1010;
	}
	#jack {
		width: 100px;
		display: none;
	}
	.social {
        position: fixed;
        top: 20px;
        right: 6vw;
        width: 350px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
	    z-index: 1010;

        a {
	        svg {
	            width: 32px;
	            height: 32px;
	            margin: 8px;
	            fill: #ffffff;

		        rect {
		            transform: translateY(100%);
		            transition: transform 1s ease-in-out;
		        }
	        }
	        &:hover svg rect {
	            transform: translateY(0);
	        }
			.soundcloud rect {
				fill: $soundcloud;
			}
			.youtube rect {
				fill: $youtube;
			}
			.instagram rect {
				fill: $instagram;
			}
			.linkedin rect {
				fill: $linkedin;
			}
			.twitter rect {
				fill: $twitter;
			}
			.github rect {
				fill: $github;
			}
			.codepen rect {
				fill: $black;
			}
		}
	}
}

// Music.js
.music {
	border: 0;
	width: 100vw;
	height: 100vh;

	.previousButton,
	.nextButton {
		polygon {
			fill: $purple;
		}
		&.disabled polygon {
			fill: $light;
		}
	}

	article {
		display: flex;
		align-items: center;
		padding: 1vh 1vw 1vh 10vw;
		box-sizing: border-box;
		border-bottom: 1px solid $white;

		.cover-wrapper {
			width: 20vw;
			height: 20vw;
			transform-origin: bottom left;

			.cover {
				display: block;
				width: 20vw;
				height: 20vw;
				transform: rotate(6deg);
				box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
				transform-origin: bottom left;
				transition: all 1s;

				&:hover {
					transform: rotate(4deg);
					transition: all 0.5s;
				}
			}
		}

		.tracklist {
			margin-left: 16vw;
			width: 44vw;

			h2 {
				margin-top: 2vh;
			}
			ul {
				margin-top: 4vh;
				width: 32vw;

				li {
					text-indent: 0;
					line-height: 30px;
					color: $purple;

					button {
						display: inline-block;
						border: 0;
						outline: 0;
						cursor: pointer;
						width: 20vw;
						text-align: left;
						background: none;
					}
					duration {
						display: inline-block;
						width: 8vw;
						text-align: right;
					}
				}
			}
		}
	}
}
.player {
	position: fixed;
	bottom: 1vh;
	left: 1vw;
	z-index: 99;
	border: 0;
	outline: 0;
}

// Footer.js
footer {
	padding: 4vh 4vw 0 4vw;

    .intro {
        width: 60vw;
        padding: 2vh 0;
        vertical-align: top;

        p {
        	margin: 40px 0;
        }
    }

    ul {
        width: 50vw;
        list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin: 4vh 0 8vh 2vw;

	    li {
	        color: $purple;
	        line-height: 30px;
			margin: 0 12px;
	    }
    }
    .copy {
    	margin-top: 4vh;
    }
    .me {
    	position: sticky;
    	bottom: 0;
    	left: calc(100vw - 400px);
    	height: 500px;
    	width: 450px;

    	img:nth-of-type(1) {
    		opacity: 1;
			transition: all 2s;
		}
    	img:nth-of-type(2) {
    		opacity: 0;
			transition: all 2s;
			position: absolute;
			top: 0;
			left: 0;
		}
    }
    .me:hover {
    	img:nth-of-type(1) {
    		opacity: 0;

		}
    	img:nth-of-type(2) {
    		opacity: 1;
		}
    }
}

// Blog.js
.blog {
    .avatar {
        color: $black;
        display: inline-block;
        vertical-align: top;
        margin: 8vh 4vw;
        width: 160px;
        position: fixed;
    }
	.article {
		margin: 0 24vw 40vh 20vw;
		height: auto !important;
        display: inline-block;
        vertical-align: top;

		* {
			max-width: 40vw;
		}

		h1,
		h2,
		h3 {
			margin: 8vh 0 4vh 0;
		}

		p,
		ul {
			margin-bottom: 4vh;
		}
        p > code,
        li > code {
  			font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
            background-color: $light;
            padding: 0 2px;
            color: $quotes;
            font-size: 0.8rem;
            line-height: 1rem;
            letter-spacing: 2px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
        }
        blockquote {
            border-left: 4px solid $light;
            margin-left: 20px;
            padding-left: 20px;
            position: relative;

            &:before {
                color: $purple;
                content: "\201D";
                speak: none;
                font-style: normal;
                font-weight: bold;
                text-transform: none;
                line-height: 1;
                font-size: 56px;
                left: 100%;
                padding-left: 20px;
                top: 0;
                position: absolute;
            }
        }
        sourcecode,
        pre {
  			font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
            white-space: pre;
            background-color: $light;
            margin: 20px;
            padding: 20px;
            display: block;
            min-width: 80%;
            max-width: 90%;
            font-size: 0.8rem;
            line-height: 1rem;
            letter-spacing: 2px;
            position: relative;
            color: $quotes;
            overflow-x: auto;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.05), 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
        }
        sourcecode:after,
        code:after {
            content: attr(language);
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 1.6rem;
            color: $white;
            font-weight: bold;
            text-transform: uppercase;
        }
        table {
            width: 80%;
            background-color: $light;
            margin: 4vh 4vw;

            td {
                padding: 5px;
                background-color: $light;
            }
        }
        iframe {
            border: 0;
            display: block;
            margin-bottom: 4vh;
        }
        img {
            max-width: 600px;
            margin-bottom: 4vh;
        }
        img:not(.noshade) {
			box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        }
        img.small {
        	height: 180px;
        }
        table {
            table-layout: fixed;
        }
        sup a {
            color: $purple !important;
            padding-left: 1px;
        }
        hr {
            box-shadow: -6px -6px 0 0 $purple;
            border: 1px solid $purple;
            margin: 60px auto 80px;
            width: 60%;
        }
        ul li:nth-of-type(10n) {
            margin-bottom:25px;
        }
        p a {
        	text-decoration: underline;
        }
	}
}

::-webkit-scrollbar {
	height: 2px;
	width: 8px;
	background: $white;
}
::-webkit-scrollbar-thumb {
	background: $purple;
  	border: 1px solid $white;
}
::-webkit-scrollbar-thumb:window-inactive {
  	background: $white;
}
::-webkit-scrollbar-button {
	background: $white;
	border: 0;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  	background: $white;
}


// Mobile
@media screen and (max-width:800px) {
	h1 {
		font-size: 2rem;
		max-width: 80vw;
	}
	h2 {
		font-size: 1.5rem;
		margin-bottom: 1vh;
		margin-top: 0;
		padding-top: 0;
	}

	// Header.js
	header {
		.social {
			width: 200px;
		}
		#logo {
			display: none;
		}
		#jack {
			display: block;
		}
	    a svg {
			width: 8vw;
			height: 8vw;
		}
	}

	// Music.js
	.music {
		height: 150vh !important;

		.slider {
			height: 150vh;

			a.previousButton,
			a.nextButton {
				top: 18%;
			}
		}

		.cover-wrapper {
			position: absolute;
		    top: 38vh;
		    left: 4vw;
		}
		article {
			padding: 1vh 1vw 1vh 1vw;

			p {
				font-size: 0.7rem;
			}
			h2 {
				position: absolute;
			    top: 39vh;
			    left: 32vw;
			}
			.tracklist {
				padding: 1vh 1vw 1vh 1vw;
				margin-left: 1vw;
				width: 90vw;

				p {
					display: none;
				}
			}
			ul {
				position: absolute;
			    top: 50vh;
			    left: 8vw;
					
				li button {
					width: 68vw !important;
				}
			}
		}
	}

	// Footer.js
	footer {
		padding: 1vh 1vw;

		h2 {
			padding-left: 1vw;
		}
	    .intro,
	    ul {
			margin-left: 2vw;
			font-size: 0.7rem;
			width: 90vw;
		}
	    .copy {
	    	margin-top: 4vh;
	    }
	    .me {
	    	display: none;
	    }

		#root > footer {
			height: 160vh;
		}
	}

	// Blog.js
	.blog {
		width: 90vw;
		margin: 2vw;
		padding: 0;

		.article {
			width: 90vw;
			margin: 2vw;
			padding: 0;

			* {
				max-width: 90vw;
			}
			ul {
				margin-left: 4vw;
			}
			img.small {
				height: 30vw;
			}
		}
		.avatar {
			margin: 2vw;
			position: relative;
		}
	}
}