// Variables
$purple: #6c6eec;
$purple-dark: #5c5edc;
$dark: #4a4b50;
$quotes: #5c5d62;
$modal: #6a6b70;
$code: #aaaaaa;
$light: #dddddd;
$white: #ffffff;
$black: #000000;

$soundcloud: #ff5500;
$youtube: #e62117;
$instagram: #ee583f;
$linkedin: #0077B5;
$twitter: #1da1f2;
$github: #fafbfc;


// General
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body,
button {
	font-family: 'Indie Flower';
	overflow-x: hidden;
	font-size: 1rem;
}
html {
	scroll-snap-type: y proximity;
	font-size: 18px;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black;
}
h1 {
	font-size: 4rem;
	color: $purple;

	@media screen and (max-width:1365px) {
		font-size: 2rem;
		max-width: 80vw;
	}
}
h2 {
	font-size: 2rem;
	color: $purple;
	margin-bottom: 2vh;

	@media screen and (max-width:1365px) {
		font-size: 1.5rem;
		margin-bottom: 1vh;
		margin-top: 0;
		padding-top: 0;
	}
}
ul,
ol {
	margin-left: 2vw;
}
#root > header,
#root > section > article,
#root > footer,
#todo {
	scroll-snap-align: start;
	height: 100vh;
	width: 100vw;
    box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a,
button {
	color: $black;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
a:hover,
button:hover {
	color: $code;
	transition: all 0.5s ease-in-out;
}

// Header.js
header {
	color: $black;

	@media screen and (max-width:1365px) {
		background-image: url('bg3.jpg');
	}

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		@media screen and (max-width:1365px) {
			display: none;
		}
	}
	.wrapper {
		position: absolute;
		top: 0;
		left: 0;
		border: 5.2vw;
		border-color: $white;
		border-style: solid;
		padding: 4vw;
		width: 100vw;
		height: 100vh;

		@media screen and (max-width:1365px) {
			border: 0;
		}
	}
	h1 {
		text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
	}
	.intro {
		width: 48vw;
		display: inline-block;
		margin-right: 4vw;
		margin-top: 10vh;
		line-height: 1.5rem;
		background-color: rgba(255, 255, 255, 0.4);
		padding: 20px;

		@media screen and (max-width:1365px) {
			width: 90vw;
		}
	}
    .button {
        color: $white;
        text-decoration: none;
        background: $white;
        padding: 16px;
        margin: 6vh 0;
        border-radius: 4px;
        display: block;
        width: 240px;
        text-align: center;

	    vertical-align: middle;
	    transform: perspective(1px) translateZ(0);
	    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	    position: relative;
	    transition-property: color;
	    transition-duration: 0.3s;

		&:before {
		    content: "";
		    position: absolute;
		    z-index: -1;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
        	border-radius: 4px;
		    background: $purple;
		    transform: scale(1);
		    transition-property: transform;
		    transition-duration: 0.3s;
		    transition-timing-function: ease-out;
		}
		&:hover {
		    color: $purple;
		}
		&:hover:before {
		    transform: scale(0);
		}
	}

	#logo {
		position: absolute;
		top: 6vw;
		right: 6vw;
		width: 6vw;
		vertical-align: top;
		fill: $white;

		@media screen and (max-width:1365px) {
			width: 12vw;
		}
	}
	.social {
        position: absolute;
        bottom: 5.2vw;
        right: 5.2vw;
        display: flex;
        justify-content: space-evenly;

		@media screen and (max-width:1365px) {
			width: 90vw;
		}

        a {
	        svg {
	            width: 2vw;
	            height: 2vw;
	            margin: 1vw;
	            fill: #ffffff;

				@media screen and (max-width:1365px) {
					width: 8vw;
					height: 8vw;
				}

		        rect {
		            transform: translateY(100%);
		            transition: transform 1s ease-in-out;
		        }
	        }
	        &:hover svg rect {
	            transform: translateY(0);
	        }
			.soundcloud rect {
				fill: $soundcloud;
			}
			.youtube rect {
				fill: $youtube;
			}
			.instagram rect {
				fill: $instagram;
			}
			.linkedin rect {
				fill: $linkedin;
			}
			.twitter rect {
				fill: $twitter;
			}
			.github rect {
				fill: $github;
			}
			.codepen rect {
				fill: $black;
			}
		}
	}
}

// Music.js
.music {
	border: 0;

	.cover-wrapper {
		display: inline-block;
		width: 24vw;
		height: 24vw;
		margin-top: 20vh;
		transform-origin: bottom left;

		@media screen and (max-width:1365px) {
			display: none;
		}
		.cover {
			display: block;
			width: 24vw;
			height: 24vw;
			transform: rotate(6deg);
			box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
			transform-origin: bottom left;
			transition: all 1s;

			&:hover {
				transform: rotate(4deg);
				transition: all 0.5s;
			}
		}
	}
	article {
		display: block;
		padding: 1vh 1vw 1vh 10vw;
		box-sizing: border-box;
		background-color: rgb(239, 239, 239);
		border-bottom: 1px solid $white;

		@media screen and (max-width:1365px) {
			padding: 1vh 1vw 1vh 1vw;

			p {
				font-size: 0.7rem;
			}
		}

		h2 {
			margin-top: 2vh;

			@media screen and (max-width:1365px) {
				margin-top: 0;
			}
		}

		.tracklist {
			display: inline-block;
			margin-left: 16vw;
			vertical-align: top;
			width: 44vw;

			@media screen and (max-width:1365px) {
				padding: 1vh 1vw 1vh 1vw;
				margin-left: 1vw;
				width: 90vw;
			}		
		}
		ul {
			margin-top: 4vh;
			width: 32vw;

			@media screen and (max-width:1365px) {
				width: 88vw;
				margin-left: 8vw;
			}

			li {
				text-indent: 0;
				line-height: 30px;
				color: $purple;

				button,
				a {
					display: inline-block;
					border: 0;
					outline: 0;
					cursor: pointer;
					width: 20vw;
					text-align: left;

					@media screen and (max-width:1365px) {
						width: 68vw;
					}
				}
				duration {
					display: inline-block;
					width: 8vw;
					text-align: right;
				}
			}
		}
	}
}
.player {
	position: fixed;
	bottom: 1vh;
	left: 1vw;
	z-index: 99;
	border: 0;
	outline: 0;
}

// Footer.js
footer {
	padding: 4vw;

	@media screen and (max-width:1365px) {
		padding: 1vh 1vw;
	}

    .intro {
        width: 40vw;
        padding: 2vh 0;
        vertical-align: top;
        margin-right: 8vw;

		@media screen and (max-width:1365px) {
			width: 90vw;
			margin-left: 2vw;
			font-size: 0.7rem;
		}
    }
    .links {
        width: 70vw;
        margin-top: 4vh;
        vertical-align: top;

		@media screen and (max-width:1365px) {
			width: 90vw;
			margin-left: 2vw;
		}

	    .icon {
	        width: 2vw;
	        height: 2vw;
	        fill: $purple;
	        display: inline-block;
	        vertical-align: top;

			@media screen and (max-width:1365px) {
				display: none;
			}
	    }
	    ul {
	        display: inline-block;
	        vertical-align: top;
	        width: 50vw;
	        list-style: none;

			@media screen and (max-width:1365px) {
				width: 90vw;
			}

		    li {
		        display: inline-block;
		        color: $purple;
		        padding: 4px 16px;
		        line-height: 30px;
		    }
	    }
    }
    .copy {
    	margin-top: 4vh;
    }
}

#root > footer {
	@media screen and (max-width:1365px) {
		height: 160vh;
	}
}

// Blog.js
.blog {
    .avatar {
        color: $black;
        display: inline-block;
        vertical-align: top;
        margin: 8vh 4vw;
        width: 160px;
        position: fixed;
    }
	.article {
		margin: 0 10vw 40vh 20vw;
		height: auto !important;
        display: inline-block;
        vertical-align: top;

		@media screen and (max-width:1365px) {
			padding: 4vh 2vw 40vh;
		}

		* {
			max-width: 40vw;
		}

		h1,
		h2,
		h3 {
			margin: 8vh 0 4vh 0;
		}

		p,
		ul {
			margin-bottom: 4vh;
		}
        p > code,
        li > code {
  			font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
            background-color: $light;
            padding: 0 2px;
            color: $quotes;
            font-size: 0.8rem;
            line-height: 1rem;
            letter-spacing: 2px;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
        }
        blockquote {
            border-left: 4px solid $light;
            margin-left: 20px;
            padding-left: 20px;
            position: relative;

            &:before {
                color: $purple;
                content: "\201D";
                speak: none;
                font-style: normal;
                font-weight: bold;
                text-transform: none;
                line-height: 1;
                font-size: 56px;
                left: 100%;
                padding-left: 20px;
                top: 0;
                position: absolute;
            }
        }
        sourcecode,
        pre {
  			font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
            white-space: pre;
            background-color: $light;
            margin: 20px;
            padding: 20px;
            display: block;
            min-width: 80%;
            max-width: 90%;
            font-size: 0.8rem;
            line-height: 1rem;
            letter-spacing: 2px;
            position: relative;
            color: $quotes;
            overflow-x: auto;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.05), 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
        }
        sourcecode:after,
        code:after {
            content: attr(language);
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 1.6rem;
            color: $white;
            font-weight: bold;
            text-transform: uppercase;;
        }
        table {
            width: 80%;
            background-color: $light;
            margin: 4vh 4vw;

            td {
                padding: 5px;
                background-color: $light;
            }
        }
        iframe {
            border: 0;
            display: block;
            margin-bottom: 4vh;
        }
        img {
            max-width: 600px;
            margin-bottom: 4vh;
        }
        img:not(.noshade) {
			box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        }
        img.small {
        	height: 180px;
        }
        table {
            table-layout: fixed;
        }
        sup a {
            color: $purple !important;
            padding-left: 1px;
        }
        hr {
            box-shadow: -6px -6px 0 0 $purple;
            border: 1px solid $purple;
            margin: 60px auto 80px;
            width: 60%;
        }
        ul li:nth-of-type(10n) {
            margin-bottom:25px;
        }
        p a {
        	text-decoration: underline;
        }
	}
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: $purple;
	border: 1px solid $white;
}
::-webkit-scrollbar-thumb:window-inactive {
  	background: $white;
}
::-webkit-scrollbar-button {
	background: $white;
	border: 0;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  	background: transparent;
}