@font-face {
  font-family: 		'QuigleyWiggly';
  src: 				url('/storage/fonts/quigleywiggly.woff') format('woff');
  font-weight: 		normal;
  font-style: 		normal;
}
@font-face {
  font-family: 		'Greyscale';
  src: 				url('/storage/fonts/greyscale.woff') format('woff');
  font-weight: 		normal;
  font-style: 		normal;
}
body {
  font-family: 'Greyscale', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}
header {
  font-family: 'QuigleyWiggly', serif;
}
code {
  font-family: monospace;
}

*,
*:after,
*:before {
  box-sizing:border-box;
}
a:focus,
button:focus {
  outline:none;
}