@font-face {
  font-family: QuigleyWiggly;
  src: url(/quigleywiggly.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Greyscale;
  src: url(/greyscale.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
body,
html {
  height: 100vh;
  overflow: hidden;
}
body {
  font-size: 20px;
  font-family: "Greyscale", "Avenir", "Helvetica Neue", "Lato", "Segoe UI", "Helvetica", "Arial", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='373' height='373' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23f4f4f4' stroke-width='.6'%3E%3Cpath d='M-40 40h75v75h-75z'/%3E%3Cpath d='M-35 45h65v65h-65z'/%3E%3Cpath d='M-30 50h55v55h-55z'/%3E%3Cpath d='M-25 55h45v45h-45z'/%3E%3Cpath d='M-20 60h35v35h-35z'/%3E%3Cpath d='M-15 65h25v25h-25z'/%3E%3Cpath d='M-10 70H5v15h-15z'/%3E%3Cpath d='M-5 75h5v5h-5zM0 0h35v35H0z'/%3E%3Cpath d='M5 5h25v25H5z'/%3E%3Cpath d='M10 10h15v15H10z'/%3E%3Cpath d='M15 15h5v5h-5zM40 0h75v75H40z'/%3E%3Cpath d='M45 5h65v65H45z'/%3E%3Cpath d='M50 10h55v55H50z'/%3E%3Cpath d='M55 15h45v45H55z'/%3E%3Cpath d='M60 20h35v35H60z'/%3E%3Cpath d='M65 25h25v25H65z'/%3E%3Cpath d='M70 30h15v15H70z'/%3E%3Cpath d='M75 35h5v5h-5zM40 80h35v35H40z'/%3E%3Cpath d='M45 85h25v25H45z'/%3E%3Cpath d='M50 90h15v15H50z'/%3E%3Cpath d='M55 95h5v5h-5zM120-40h75v75h-75z'/%3E%3Cpath d='M125-35h65v65h-65z'/%3E%3Cpath d='M130-30h55v55h-55z'/%3E%3Cpath d='M135-25h45v45h-45z'/%3E%3Cpath d='M140-20h35v35h-35z'/%3E%3Cpath d='M145-15h25v25h-25z'/%3E%3Cpath d='M150-10h15V5h-15z'/%3E%3Cpath d='M155-5h5v5h-5zM120 40h35v35h-35z'/%3E%3Cpath d='M125 45h25v25h-25z'/%3E%3Cpath d='M130 50h15v15h-15z'/%3E%3Cpath d='M135 55h5v5h-5zM0 120h75v75H0z'/%3E%3Cpath d='M5 125h65v65H5z'/%3E%3Cpath d='M10 130h55v55H10z'/%3E%3Cpath d='M15 135h45v45H15z'/%3E%3Cpath d='M20 140h35v35H20z'/%3E%3Cpath d='M25 145h25v25H25z'/%3E%3Cpath d='M30 150h15v15H30z'/%3E%3Cpath d='M35 155h5v5h-5zM200 120h75v75h-75zM40 200h75v75H40zM80 80h75v75H80z'/%3E%3Cpath d='M85 85h65v65H85z'/%3E%3Cpath d='M90 90h55v55H90z'/%3E%3Cpath d='M95 95h45v45H95z'/%3E%3Cpath d='M100 100h35v35h-35z'/%3E%3Cpath d='M105 105h25v25h-25z'/%3E%3Cpath d='M110 110h15v15h-15z'/%3E%3Cpath d='M115 115h5v5h-5zM80 160h35v35H80z'/%3E%3Cpath d='M85 165h25v25H85z'/%3E%3Cpath d='M90 170h15v15H90z'/%3E%3Cpath d='M95 175h5v5h-5zM120 160h75v75h-75z'/%3E%3Cpath d='M125 165h65v65h-65z'/%3E%3Cpath d='M130 170h55v55h-55z'/%3E%3Cpath d='M135 175h45v45h-45z'/%3E%3Cpath d='M140 180h35v35h-35z'/%3E%3Cpath d='M145 185h25v25h-25z'/%3E%3Cpath d='M150 190h15v15h-15z'/%3E%3Cpath d='M155 195h5v5h-5zM160 40h75v75h-75z'/%3E%3Cpath d='M165 45h65v65h-65z'/%3E%3Cpath d='M170 50h55v55h-55z'/%3E%3Cpath d='M175 55h45v45h-45z'/%3E%3Cpath d='M180 60h35v35h-35z'/%3E%3Cpath d='M185 65h25v25h-25z'/%3E%3Cpath d='M190 70h15v15h-15z'/%3E%3Cpath d='M195 75h5v5h-5zM160 120h35v35h-35z'/%3E%3Cpath d='M165 125h25v25h-25z'/%3E%3Cpath d='M170 130h15v15h-15z'/%3E%3Cpath d='M175 135h5v5h-5zM200 200h35v35h-35zM200 0h35v35h-35zM0 200h35v35H0z'/%3E%3C/g%3E%3C/svg%3E");
}
#logo {
  width: 28vw;
  max-width: 480px;
  margin: 3vh 2vw 4vh;
  display: inline-block;
  height: auto;
}
a,
button {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px dotted #6c6eec;
}
p {
  color: #4a4b50;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}
header {
  display: flex;
  justify-content: space-between;
}
header p {
  width: 44vw;
  margin: 9vh 2vw 2vh;
  display: inline-block;
  vertical-align: top;
}
header > img:first-of-type {
  width: 32vw;
  margin: 2vh 2vw;
  display: inline-block;
}
header .covers {
  overflow: hidden;
  width: 14vw;
  display: inline-block;
  height: calc(4vh + 150px);
  vertical-align: top;
  margin-top: 5vh;
}
header .covers img {
  width: 150px;
  display: inline-block;
  box-sizing: border-box;
  margin: 1vh 3vw 3vh;
  box-shadow: 0  4px 10px  5px rgba(0, 0, 0, .15),
              0 10px 15px 10px rgba(0, 0, 0, .05),
              0 16px 20px 15px rgba(0, 0, 0, .05),
              0 22px 25px 20px rgba(0, 0, 0, .02);
  border-radius: 50%;
}
nav {
  display: block;
  width: 100vw;
  margin: 0 0 64px;
  padding-right: 2vw;
  background: linear-gradient(270deg, rgba(106, 107, 112, .1), rgba(106, 107, 112, .2), rgba(106, 107, 112, .01));
  text-align: right;
}
nav,
nav li {
  height: 44px;
}
nav li {
  list-style: none;
  display: inline-block;
  background-color: rgba(106, 107, 112, .3);
  padding: 10px;
  margin: 7px 1vw 2px;
  min-width: 12vw;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-attachment: fixed;
  background-position: 50% 50%;
  font-weight: 700;
  letter-spacing: .5px;
}
nav li:first-of-type:after {
  content: "New";
  font-variant: small-caps;
  color: #fff;
  background-color: #6c6eec;
  font-size: 10px;
  transform: rotate(-45deg);
  display: block;
  width: 70px;
  height: 16px;
  position: absolute;
  right: -24px;
  top: 24px;
  letter-spacing: 1px;
}
nav li:hover > .anim {
  width: 105%;
  transition: width 1s ease-in-out;
}
nav li.active {
  border-bottom: 3px solid #6c6eec;
}
nav li:hover:before {
  border-color: #6a6b70 #6c6eec;
}
nav li .anim {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 0;
  transition: width .5s ease-in-out;
}
nav li .anim:before {
  position: relative;
  content: "";
  display: block;
  margin-top: 100%;
}
nav li .anim:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background-color: #6c6eec;
}
nav li button {
  border: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: none;
}
article {
  width: 62vw;
  height: 36vh;
  position: relative;
  padding: 1vh 2vw;
}
article,
article img:first-child {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
}
article img:first-child {
  width: 8vw;
  height: 8vw;
  box-shadow: 0  4px 10px  5px rgba(0, 0, 0, .15),
              0 10px 15px 10px rgba(0, 0, 0, .05),
              0 16px 20px 15px rgba(0, 0, 0, .05),
              0 22px 25px 20px rgba(0, 0, 0, .02);
  border-radius: 50%;
}
article ul {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 50vw;
  margin: 0;
  overflow-y: scroll;
  height: 18vh;
  padding-bottom: 240px;
}
article ul li {
  display: block;
  padding: 10px 20px;
  margin-bottom: 12px;
  margin-right: 2vw;
  background-color: rgba(106, 107, 112, .1);
}
article ul li button {
  color: #4a4b50;
  background: none;
}
article ul li span {
  float: right;
  color: #4a4b50;
}
article ul li span:after {
  content: "";
  clear: both;
}
article:not(:first-child) img {
  opacity: .2;
}
article:not(:first-child) ul {
  height: 0;
}
.sc-player-engine-container {
  position: absolute;
}
#carousel {
  width: 53vw;
  height: 22vw;
  margin: 40px 16vw 40px 33vw;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
#carousel_scroll {
  width: 600vw;
  height: 36vh;
  margin: 0;
  padding: 0;
  border: 0;
}
#sc-progress {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#sc-played {
  width: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='373' height='373' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23ddd' stroke-width='.6'%3E%3Cpath d='M-40 40h75v75h-75z'/%3E%3Cpath d='M-35 45h65v65h-65z'/%3E%3Cpath d='M-30 50h55v55h-55z'/%3E%3Cpath d='M-25 55h45v45h-45z'/%3E%3Cpath d='M-20 60h35v35h-35z'/%3E%3Cpath d='M-15 65h25v25h-25z'/%3E%3Cpath d='M-10 70H5v15h-15z'/%3E%3Cpath d='M-5 75h5v5h-5zM0 0h35v35H0z'/%3E%3Cpath d='M5 5h25v25H5z'/%3E%3Cpath d='M10 10h15v15H10z'/%3E%3Cpath d='M15 15h5v5h-5zM40 0h75v75H40z'/%3E%3Cpath d='M45 5h65v65H45z'/%3E%3Cpath d='M50 10h55v55H50z'/%3E%3Cpath d='M55 15h45v45H55z'/%3E%3Cpath d='M60 20h35v35H60z'/%3E%3Cpath d='M65 25h25v25H65z'/%3E%3Cpath d='M70 30h15v15H70z'/%3E%3Cpath d='M75 35h5v5h-5zM40 80h35v35H40z'/%3E%3Cpath d='M45 85h25v25H45z'/%3E%3Cpath d='M50 90h15v15H50z'/%3E%3Cpath d='M55 95h5v5h-5zM120-40h75v75h-75z'/%3E%3Cpath d='M125-35h65v65h-65z'/%3E%3Cpath d='M130-30h55v55h-55z'/%3E%3Cpath d='M135-25h45v45h-45z'/%3E%3Cpath d='M140-20h35v35h-35z'/%3E%3Cpath d='M145-15h25v25h-25z'/%3E%3Cpath d='M150-10h15V5h-15z'/%3E%3Cpath d='M155-5h5v5h-5zM120 40h35v35h-35z'/%3E%3Cpath d='M125 45h25v25h-25z'/%3E%3Cpath d='M130 50h15v15h-15z'/%3E%3Cpath d='M135 55h5v5h-5zM0 120h75v75H0z'/%3E%3Cpath d='M5 125h65v65H5z'/%3E%3Cpath d='M10 130h55v55H10z'/%3E%3Cpath d='M15 135h45v45H15z'/%3E%3Cpath d='M20 140h35v35H20z'/%3E%3Cpath d='M25 145h25v25H25z'/%3E%3Cpath d='M30 150h15v15H30z'/%3E%3Cpath d='M35 155h5v5h-5zM200 120h75v75h-75zM40 200h75v75H40zM80 80h75v75H80z'/%3E%3Cpath d='M85 85h65v65H85z'/%3E%3Cpath d='M90 90h55v55H90z'/%3E%3Cpath d='M95 95h45v45H95z'/%3E%3Cpath d='M100 100h35v35h-35z'/%3E%3Cpath d='M105 105h25v25h-25z'/%3E%3Cpath d='M110 110h15v15h-15z'/%3E%3Cpath d='M115 115h5v5h-5zM80 160h35v35H80z'/%3E%3Cpath d='M85 165h25v25H85z'/%3E%3Cpath d='M90 170h15v15H90z'/%3E%3Cpath d='M95 175h5v5h-5zM120 160h75v75h-75z'/%3E%3Cpath d='M125 165h65v65h-65z'/%3E%3Cpath d='M130 170h55v55h-55z'/%3E%3Cpath d='M135 175h45v45h-45z'/%3E%3Cpath d='M140 180h35v35h-35z'/%3E%3Cpath d='M145 185h25v25h-25z'/%3E%3Cpath d='M150 190h15v15h-15z'/%3E%3Cpath d='M155 195h5v5h-5zM160 40h75v75h-75z'/%3E%3Cpath d='M165 45h65v65h-65z'/%3E%3Cpath d='M170 50h55v55h-55z'/%3E%3Cpath d='M175 55h45v45h-45z'/%3E%3Cpath d='M180 60h35v35h-35z'/%3E%3Cpath d='M185 65h25v25h-25z'/%3E%3Cpath d='M190 70h15v15h-15z'/%3E%3Cpath d='M195 75h5v5h-5zM160 120h35v35h-35z'/%3E%3Cpath d='M165 125h25v25h-25z'/%3E%3Cpath d='M170 130h15v15h-15z'/%3E%3Cpath d='M175 135h5v5h-5zM200 200h35v35h-35zM200 0h35v35h-35zM0 200h35v35H0z'/%3E%3C/g%3E%3C/svg%3E");
}
.stop_parent {
  margin-left: 50px;
}
footer {
  top: 90vh;
  display: block;
  position: absolute;
  width: 80vw;
  left: 10vw;
  height: 60vh;
  background-color: #6c6eec;
  transition: all 1s ease-in-out;
  margin-top: 10vh;
  box-shadow: 0  4px 10px  5px rgba(0, 0, 0, .05),
              0 10px 15px 10px rgba(0, 0, 0, .03),
              0 16px 20px 15px rgba(0, 0, 0, .02),
              0 22px 25px 20px rgba(0, 0, 0, .01);
  z-index: 2;
}
footer p {
  width: 76vw;
  margin: -16px auto 22px;
  display: block;
  text-align: left;
  color: #ddd;
}
footer .listicon {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  margin: 20px 0 0 2vw;
}
footer .listicon path {
  fill: #4a4b50;
}
footer ul {
  width: 72vw;
  display: inline-block;
  vertical-align: top;
}
footer ul .subtitle {
  color: #6c6eec;
}
footer ul a {
  border-bottom: 0;
}
footer ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #4a4b50;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}
footer ul a:hover:before {
  visibility: visible;
  transform: scaleX(.7);
}
footer ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 10px;
  margin: 2px;
  text-align: center;
  position: relative;
}
footer ul:nth-of-type(2) li:nth-of-type(4):after {
  content: "\A";
  white-space: pre;
}
footer .listicon,
footer p,
footer ul {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
footer:hover {
  top: 40vh;
  transition: all .6s ease-in-out;
  box-shadow: 0  4px 10px  5px rgba(0, 0, 0, .25),
              0 10px 15px 10px rgba(0, 0, 0, .15),
              0 16px 20px 15px rgba(0, 0, 0, .1),
              0 22px 25px 20px rgba(0, 0, 0, .05);
}
footer:hover polygon {
  fill: #6c6eec;
  transition: all .2s ease-out;
}
footer:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
footer:hover polygon.arrow-top {
  transform: translateY(18px);
}
footer:hover .listicon,
footer:hover p,
footer:hover ul {
  opacity: 1;
  transition-delay: 2s;
  transition: opacity 1s ease-in-out;
}
section > img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 2;
}
#up {
  display: block;
  width: 4vw;
  height: 4vw;
  position: relative;
  top: -8vh;
  left: 76vw;
  cursor: pointer;
}
#up svg {
  width: 3vw;
  height: 3vw;
  transform: rotate(180deg);
}
#up polygon {
  fill: #fff;
  transition: all .2s ease-out;
}
#up polygon.arrow-middle {
  opacity: .75;
}
#up polygon.arrow-top {
  opacity: .5;
}
svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
svg path {
  fill: #ddd;
  transition: fill .3s ease-in-out;
}
#social {
  position: absolute;
  left: 38vw;
  bottom: 5vh;
  z-index: 2;
}
#social a {
  display: inline-block;
  border: 0;
  margin: 8px 0;
  width: 5.5vw;
}
#social a svg rect {
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}
#social a:hover svg rect {
  transform: translateY(0);
}
#social a:first-of-type svg rect {
  fill: #f50;
}
#social a:nth-of-type(2) svg rect {
  fill: #e62117;
}
#social a:nth-of-type(3) svg rect {
  fill: #3b5998;
  fill: #ee583f;
}
#social a:nth-of-type(4) svg rect {
  fill: #0077b5;
}
#social a:nth-of-type(5) svg rect {
  fill: #1da1f2;
}
#social a:nth-of-type(6) svg rect {
  fill: #fafbfc;
}
#social a:nth-of-type(7) svg rect {
  fill: #000;
}
#copy {
  color: #4a4b50;
  font-size: 12px;
  position: relative;
  bottom: 4px;
  left: 64vw;
  margin-top: 20px;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #6c6eec;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}
::-webkit-scrollbar-button {
  background: #6c6eec;
  border: 2px solid #fff;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: #fff;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a:focus,
button:focus {
  outline: none;
}
#modal {
  background-color: #6a6b70;
  box-shadow: 0  4px 10px  5px rgba(0, 0, 0, .25),
              0 10px 15px 10px rgba(0, 0, 0, .15),
              0 16px 20px 15px rgba(0, 0, 0, .1),
              0 22px 25px 20px rgba(0, 0, 0, .05);
  position: fixed;
  top: 10vh;
  right: 19vw;
  bottom: 10vh;
  left: 19vw;
  display: none;
  z-index: 100;
}
#modal iframe {
  border: 0;
  width: 62vw;
  height: 80vh;
  padding: 2vh 2vw;
}
#modal > a {
  border-radius: 50%;
  background-color: #6c6eec;
  width: 40px;
  height: 40px;
  color: #4a4b50;
  font-size: 32px;
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  position: absolute;
  top: -18px;
  right: -18px;
  box-shadow: 0 6px 12px 6px rgba(0, 0, 0, .1);
}
#modal > a:hover {
  color: #6c6eec;
  background-color: #4a4b50;
}
#avatar {
  background-color: #6a6b70;
  box-shadow: 0 6px 12px 6px rgba(0, 0, 0, .2);
  position: fixed;
  top: 11.6vh;
  left: 20vw;
  width: 180px;
  height: 180px;
  padding: 10px;
  display: none;
  z-index: 99;
}
#avatar:after {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  content: "";
}
#avatar img {
  width: 160px;
}