@font-face {
	font-family: QuigleyWiggly;
	src: url(/quigleywiggly.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Greyscale;
	src: url(/greyscale.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
body {
	font-size: 20px;
	font-family: "Greyscale", "Avenir", "Helvetica Neue", "Lato", "Segoe UI", "Helvetica", "Arial", sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='373' height='373' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23eeeeee' stroke-width='.6'%3E%3Cpath d='M-40 40h75v75h-75z'/%3E%3Cpath d='M-35 45h65v65h-65z'/%3E%3Cpath d='M-30 50h55v55h-55z'/%3E%3Cpath d='M-25 55h45v45h-45z'/%3E%3Cpath d='M-20 60h35v35h-35z'/%3E%3Cpath d='M-15 65h25v25h-25z'/%3E%3Cpath d='M-10 70H5v15h-15z'/%3E%3Cpath d='M-5 75h5v5h-5zM0 0h35v35H0z'/%3E%3Cpath d='M5 5h25v25H5z'/%3E%3Cpath d='M10 10h15v15H10z'/%3E%3Cpath d='M15 15h5v5h-5zM40 0h75v75H40z'/%3E%3Cpath d='M45 5h65v65H45z'/%3E%3Cpath d='M50 10h55v55H50z'/%3E%3Cpath d='M55 15h45v45H55z'/%3E%3Cpath d='M60 20h35v35H60z'/%3E%3Cpath d='M65 25h25v25H65z'/%3E%3Cpath d='M70 30h15v15H70z'/%3E%3Cpath d='M75 35h5v5h-5zM40 80h35v35H40z'/%3E%3Cpath d='M45 85h25v25H45z'/%3E%3Cpath d='M50 90h15v15H50z'/%3E%3Cpath d='M55 95h5v5h-5zM120-40h75v75h-75z'/%3E%3Cpath d='M125-35h65v65h-65z'/%3E%3Cpath d='M130-30h55v55h-55z'/%3E%3Cpath d='M135-25h45v45h-45z'/%3E%3Cpath d='M140-20h35v35h-35z'/%3E%3Cpath d='M145-15h25v25h-25z'/%3E%3Cpath d='M150-10h15V5h-15z'/%3E%3Cpath d='M155-5h5v5h-5zM120 40h35v35h-35z'/%3E%3Cpath d='M125 45h25v25h-25z'/%3E%3Cpath d='M130 50h15v15h-15z'/%3E%3Cpath d='M135 55h5v5h-5zM0 120h75v75H0z'/%3E%3Cpath d='M5 125h65v65H5z'/%3E%3Cpath d='M10 130h55v55H10z'/%3E%3Cpath d='M15 135h45v45H15z'/%3E%3Cpath d='M20 140h35v35H20z'/%3E%3Cpath d='M25 145h25v25H25z'/%3E%3Cpath d='M30 150h15v15H30z'/%3E%3Cpath d='M35 155h5v5h-5zM200 120h75v75h-75zM40 200h75v75H40zM80 80h75v75H80z'/%3E%3Cpath d='M85 85h65v65H85z'/%3E%3Cpath d='M90 90h55v55H90z'/%3E%3Cpath d='M95 95h45v45H95z'/%3E%3Cpath d='M100 100h35v35h-35z'/%3E%3Cpath d='M105 105h25v25h-25z'/%3E%3Cpath d='M110 110h15v15h-15z'/%3E%3Cpath d='M115 115h5v5h-5zM80 160h35v35H80z'/%3E%3Cpath d='M85 165h25v25H85z'/%3E%3Cpath d='M90 170h15v15H90z'/%3E%3Cpath d='M95 175h5v5h-5zM120 160h75v75h-75z'/%3E%3Cpath d='M125 165h65v65h-65z'/%3E%3Cpath d='M130 170h55v55h-55z'/%3E%3Cpath d='M135 175h45v45h-45z'/%3E%3Cpath d='M140 180h35v35h-35z'/%3E%3Cpath d='M145 185h25v25h-25z'/%3E%3Cpath d='M150 190h15v15h-15z'/%3E%3Cpath d='M155 195h5v5h-5zM160 40h75v75h-75z'/%3E%3Cpath d='M165 45h65v65h-65z'/%3E%3Cpath d='M170 50h55v55h-55z'/%3E%3Cpath d='M175 55h45v45h-45z'/%3E%3Cpath d='M180 60h35v35h-35z'/%3E%3Cpath d='M185 65h25v25h-25z'/%3E%3Cpath d='M190 70h15v15h-15z'/%3E%3Cpath d='M195 75h5v5h-5zM160 120h35v35h-35z'/%3E%3Cpath d='M165 125h25v25h-25z'/%3E%3Cpath d='M170 130h15v15h-15z'/%3E%3Cpath d='M175 135h5v5h-5zM200 200h35v35h-35zM200 0h35v35h-35zM0 200h35v35H0z'/%3E%3C/g%3E%3C/svg%3E");
}
*,
:after,
:before {
  	box-sizing: border-box;
}
a:focus,
button:focus {
  	outline: none;
}

section,
footer {
	width: 40vw;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 40vw;
	margin-top: 5vh;
	padding: 20px;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
footer {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
	text-align: center;
}
footer p {
	color: #fff;
}
section .a {
	display: inline-block;
	width: 30vw;
}
section a,
section button {
	color: #000000;
	background: none;
	text-decoration: none;
	border: none;
	font-size: 20px;
	font-family: "Greyscale", "Avenir", "Helvetica Neue", "Lato", "Segoe UI", "Helvetica", "Arial", sans-serif;
	text-align: left;
	display: inline;
	padding: 0;
	margin: 0;
  	border-bottom: 0;
  	position: relative;
}
section h2,
section h3 {
	display: inline-block;
	width: 25vw;
}
footer a {
	display: inline-block;
	border: 0;
	margin: 8px 0;
	width: 5vw;
}
footer svg {
	width: 32px;
	height: 32px;
	cursor: pointer;
}
footer svg path {
	fill: #ddd;
	transition: fill .3s ease-in-out;
}
footer a svg rect {
	transform: translateY(100%);
	transition: transform 1s ease-in-out;
}
footer a:hover svg rect {
  	transform: translateY(0);
}
footer a:first-of-type svg rect {
  	fill: #f50;
}
footer a:nth-of-type(2) svg rect {
  	fill: #e62117;
}
footer a:nth-of-type(3) svg rect {
  	fill: #3b5998;
  	fill: #ee583f;
}
footer a:nth-of-type(4) svg rect {
  	fill: #0077b5;
}
footer a:nth-of-type(5) svg rect {
  	fill: #1da1f2;
}
footer a:nth-of-type(6) svg rect {
  	fill: #fafbfc;
}
footer a:nth-of-type(7) svg rect {
  	fill: #000;
}
h1,
h2,
h3 {
	color: #6c6eec;
	font-weight: bold;
}
li {
	color: #6c6eec;
}

#logo {
	width: 32vw;
	display: inline-block;
	height: auto;
	position: fixed;
	top: 3vh;
	left: 3vw;
}
.listicon path {
  	fill: #4a4b50;
}
.panorama {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: -1;
}
#music img,
#blog svg,
#links svg {
	width: 6vw;
	height: 6vw;
	margin-bottom:-5vw;
	position: relative;
	left: 15vw;
}
.duration {
	display: inline-block;
	width: 4vw;
	text-align: right;
}
#music img {
	border-radius: 5px;
	box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
}
#copy {
  	color: #4a4b50;
	font-size: 12px;
	position: relative;
	bottom: 4px;
	left: 64vw;
	margin-top: 20px;
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #6c6eec;
	border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:window-inactive {
  	background: #fff;
}
::-webkit-scrollbar-button {
	background: #6c6eec;
	border: 2px solid #fff;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  	background: #fff;
}



a,
button {
}
a:before,
button:before {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 1px;
  	bottom: 0;
  	left: 0;
  	background-color: #6c6eec;
  	visibility: hidden;
  	transform: scaleX(0);
  	transition: all .3s ease-in-out;
}
a:hover:before,
button:hover:before {
  	visibility: visible;
  	transform: scaleX(1);
}